.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
bin/.project
bin/pom.xml
bin/.settings/org.eclipse.core.resources.prefs
bin/.settings/org.eclipse.m2e.core.prefs
bin/src/main/java/demo/MonitoringClientApplication.class
bin/src/main/resources/application.properties
bin/src/test/java/demo/MonitoringClientApplicationTests.class
bin/target/classes/META-INF/MANIFEST.MF
target/monitorClient-0.0.1-SNAPSHOT.jar
target/monitorClient-0.0.1-SNAPSHOT.jar.original
target/classes/application.properties
target/classes/demo/MonitoringClientApplication.class
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/com.mattreyuk/monitorClient/pom.properties
target/classes/META-INF/maven/com.mattreyuk/monitorClient/pom.xml
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
